[user]
  name = Pairing Machine
  email = pairing@edgecase.com
[color]
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[merge]
  tool = opendiff
[core]
  legacyheaders = false
  excludesfile = /Users/pairing/.gitignore
[repack]
  usedeltabaseoffset = true
[alias]
  ci = commit
  co = checkout
  st = status
  ch = cherry -v origin
  mine = log --author=Pairing
[github]
  user = pairing
  token = 35647376b5bad04b2c078f1e2164bcb6
[diff "ruby"]
  funcname = ^ *\\(\\(class\\|module\\|def\\) .*\\)
[push]
  default = matching
[git-pair]
	authors = Ehren Murdick <ehren@theedgecase.com>
	authors = Jon Distad <jon@theedgecase.com>
	authors = Adam McCrea <adam@edgecase.com>
	authors = Leon Gersing <fallenrogue@gmail.com>
	authors = Felix Flores <felix@edgecase.com>
	authors = Jerry Nummi <jerry@edgecase.com>
	authors = Jessica Suttles <jessica@theedgecase.com>
