[user]
  name  = Leon Gersing
  email = leon@edgecase.com

[color]
  branch = auto
  diff   = auto
  status = auto

[color "branch"]
  current = yellow reverse
  local   = yellow
  remote  = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old  = red bold
  new  = green bold

[color "status"]
  added     = yellow
  changed   = green
  untracked = cyan

[merge]
  tool = vimdiff

[core]
  legacyheaders = false
  excludesfile  = /Users/leon/.gitignore

[repack]
  usedeltabaseoffset = true

[alias]
  ci = commit
  co = checkout
  st = status
  ch = cherry -v origin
  mine = log --author=Leon Gersing
  df = diff
  br = branch
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short

[github]
  user = fallenrogue
  token = 26317f3d1e301d94efb636a265cd44da

[diff "ruby"]
  funcname = ^ *\\(\\(class\\|module\\|def\\) .*\\)

[push]
  default = matching

[branch "master"]
  remote = origin
  merge = refs/heads/master

[git-pair]
	authors = John Andrews <john.m.andrews@gmail.com>
	authors = Ken Barker <ken@theedgecase.com>
	authors = Kevin Farst <kevin@edgecase.com>
	authors = Felix Flores <felix@edgecase.com>
	authors = Adam McCrea <adam@edgecase.com>
	authors = Monica McJunkin <monica@theedgecase.com>
	authors = Jerry Nummi <jerry@edgecase.com>
	authors = Joe O'Brien <joe@theedgecase.com>
	authors = Marc Peabody <marc@edgecase.com>
	authors = Paul Wilson <paul@edgecase.com>
	authors = Tony Schneider <tonywok@gmail.com>
	authors = Drew Neil <andrew.jr.neil@gmail.com>
	authors = Mike Enriquez <mike@enriquez.me>
	authors = Abdel Saleh <abdel@edgecase.com>
	authors = Matt Yoho <mby@mattyoho.com>
	authors = Andy A Maleh <andy@obtiva.com>
	authors = Jim Weirich <jim@edgecase.com>
	authors = Chandu Tennety <chandu.tennety@janova.us>
	authors = Scott Barron <scott@edgecase.com>
	authors = Leon Gersing <leongersing@gmail.com>
