[submodule "emacs-config/jimweirich"]
	path = emacs-config/jimweirich
	url = https://github.com/jimweirich/emacs-setup.git

[submodule "emacs-config/jandrews"]
	path = emacs-config/jandrews
	url = https://github.com/jxa/emacs-setup.git

[submodule ".vim/bundle/ack.vim"]
	path = .vim/bundle/ack.vim
	url  = https://github.com/mileszs/ack.vim.git

[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url  = https://github.com/kchmck/vim-coffee-script.git 

[submodule ".vim/bundle/vim-endwise"]
	path = .vim/bundle/vim-endwise
	url  = http://github.com/tpope/vim-endwise.git

[submodule ".vim/bundle/vim-rails"]
	path = .vim/bundle/vim-rails
	url  = http://github.com/tpope/vim-rails.git

